@page "/AcessoCreate"
@rendermode InteractiveServer
@using TASKWAVE.WEB.Components.Layout
@layout NavMenu
@inject HttpClient Http

<PageTitle>Criar Acesso</PageTitle>

<main>
    <div class="container-flex">

        <div class="linha-vertical"></div>


        <section class="right-content">
            <div>

                <h2 class="text-white mb-2">Meus Acessos</h2>
                <h4 class="text-muted mb-4">Criar Acesso</h4>

            </div>

            <EditForm Model="@accessToCreate" OnValidSubmit="HandleValidSubmit">
                <DataAnnotationsValidator />
                <ValidationSummary class="text-warning" />

                <div class="form-group mb-3">
                    <label>Nome do Acesso</label>
                    <InputText class="form-control" @bind-Value="accessToCreate.accessName" placeholder="Insira o nome do Acesso" />
                </div>

                <div class="form-group mb-3">
                    <label>Descrição do Acesso</label>
                    <InputTextArea class="form-control" @bind-Value="accessToCreate.accessDescription" placeholder="Insira a descrição do Acesso" />
                </div>

                <button type="submit" class="btn btn-primary w-25">
                    Criar Acesso
                </button>
            </EditForm>

            @if (!string.IsNullOrEmpty(mensageResponse))
            {
                <div class="mt-3 alert alert-info">@mensageResponse</div>
            }
        </section>
    </div>
</main>


@code {
    private AcessoRequest accessToCreate = new();
    private string mensageResponse;

    private async Task HandleValidSubmit()
    {
        try
        {

            accessToCreate.accessCreationDate = DateTime.Now;

            var response = await Http.PostAsJsonAsync("api/Acesso", accessToCreate);

            if (response.IsSuccessStatusCode)
            {
                mensageResponse = "Acesso criado com sucesso.";
                accessToCreate = new();
            }
            else
            {
                var error = await response.Content.ReadAsStringAsync();
                mensageResponse = $"Erro: {error}";
            }
        }
        catch (Exception ex)
        {
            mensageResponse = $"Erro na requisição: {ex.Message}";
        }
    }
}

<style>

    .container-flex {
        display: flex;
        height: 100vh;
        background-color: #333339;
        position: relative;
    }

    .linha-vertical {
        width: 1px;
        height: 100vh;
        background-color: #ccc;
        position: absolute;
        left: 250px;
        top: 0;
    }

    .right-content {
        margin-left: 250px;
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 2rem;
        background-color: #333339;
        color: white;
    }

    .form-control {
        background-color: #333339;
        color: #fff;
        border: 1px solid #555;
        width: 545px;
    }

    .form-control::placeholder {
        color: #aaa;
    }

    .btn-primary {
        background-color: #1fb6ff;
        border: none;
    }

    .btn-primary:hover {
        background-color: #0d8ddc;
    }
</style>