@inherits LayoutComponentBase

<div class="login_header">
	<h1 class="login_header_title"><a class="text-decoration-none" style="color: #1D2D44;" href="/">TaskWave</a></h1>
</div>

@Body

<style>
		.login_header {
			height: 200px;
			background-color: #F0EBD8;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.login_header_title {
			font-size: 128px;
			font-family: Verdana;
			color: #1D2D44;
		}
</style>